---
layout: home
---
<main style="margin: 0 auto; background: #fff;">

  <div class="masthead">
    <nav class="nav">
      <div class="nav__inner">
        <a href="/" rel="home">
          <img alt="New Zealand Study" src="/images/nzs.png" width="230" style="margin-top: 10px;">
        </a>

        <div class="nav__menu">
          <a class="nav__menu__link" href="#">Sign up</a>
          <a class="nav__menu__link" href="#">Log in</a>
        </div>
      </div>
    </nav>

    <section class="hero">
      <div class="hero__content">
          <!-- <img class="hero__icon" src="/images/icons/book.png" width="96"> -->

          <h1 class="hero__title">
            Live&nbsp;and Learn

            <span class="hero__subtitle">
              in New Zealand
            </span>
          </h1>

          <p class="hero__lead">
            We'll sort out everything you need to live, learn and work
            in New Zealand &ndash; for free.
          </p>
      </div>
    </section>
  </div>

  {% include capture.html autofocus="autofocus" %}

  <div style="max-width: 1024px; margin: 1rem auto;">
    <section class="section section--right">
      <h2 class="section__title">
        Simple applications
      </h2>
      <p class="section__text">
        Instead of applying over and over again, make a single application
        and we'll send it to all the places you're applying for.
      </p>
    </section>

    <section class="section">
      <h2 class="section__title">
        Easy visas
      </h2>
      <p class="section__text">
        Applying for a visa is usually a long process, but we can take care of it.
      </p>
    </section>

    <section class="section">
      <h2 class="section__title">
        Employment help
      </h2>
      <p class="section__text">
        We'll help you find a full or part-time job, so by the time you've
        finished your studies you're already on your feet.
      </p>
    </section>

    <section class="section">
      <h2 class="section__title">
        Free, forever
      </h2>
      <p class="section__text">
        We provide all of our services for free; we want things to be as smooth
        as possible.
      </p>
    </section>

    <section class="section">
      <h2 class="section__title">
        Every question answered
      </h2>
      <p class="section__text">
        Every step of the way, we'll keep you in touch with local advisors who
        can answer any questions you may have.
      </p>
    </section>

    <section class="section">
      <h2 class="section__title">
        Students like you
      </h2>
      <p class="section__text">
        Visit our forums, and get in touch with people from your country living
        and studying in New Zealand.
      </p>
    </section>

    <section class="section">
      <h2 class="section__title">
        Find the best place to study
      </h2>
      <p class="section__text">
        Use our tools to find the best place to study your interests in New Zealand.
      </p>
    </section>

    <section class="section">
      <h2 class="section__title">
        Local knowledge
      </h2>
      <p class="section__text">
        Find information on everything &ndash; from where to find socks and toilet
        paper, to the best health insurance.
      </p>
    </section>
  </div>

  {% include capture.html %}

</main>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71350362-1', 'auto');
  ga('send', 'pageview');
</script>
