.nav {
  height: 70px;
  padding: 0 1rem;
  background: rgba(200, 200, 200, 0.6);
  overflow: auto;
}

.nav__inner {
  max-width: $content-width;
  margin: 0 auto;

  @include media-query($on-tablet) {
    padding: 0 1rem;
  }
}

.nav__menu {
  float: right;
}

.nav__menu__link {
  font-family: $header-font-family;
  font-size: 18px;
  color: #333;
  padding: 0 0.5rem;
  line-height: 70px;

  &:hover {
    color: #444;
  }
}
