.nav {
  height: 70px;
  padding: 0 1rem;
  background: rgba(200, 200, 200, 0.4);
  overflow: auto;
  text-align: left;
}

.nav__inner {
  max-width: $content-width;
  margin: 0 auto;

  @include media-query($on-tablet) {
    padding: 0 1rem;
  }
}

.nav__menu {
  float: right;
}

.nav__menu__link {
  font-family: $header-font-family;
  font-size: 18px;
  color: #333;
  padding: 0 0.5rem;
  line-height: 70px;

  &:hover {
    color: #444;
  }
}

.info {
  border-bottom: 1px solid #588F27;
  padding: 1.3rem 1.2rem 1rem;
  background: #A9CF54;
  color: rgba(20, 20, 20, 0.8);
  margin-bottom: 1rem;
  vertical-align: middle;

  img {
    vertical-align: middle;
    margin-right: 0.6rem;
    margin-top: -3px;
  }

  @include media-query($on-tablet) {
    border-radius: 3px 3px 0 0;
  }
}
