.show {
    display: block !important;
}

.modal {
    opacity: 0;
    filter: alpha(opacity=0);
    background: none;

    @include media-query($on-tablet) {
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
}

.modal[aria-hidden="false"] {
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal-container, .modal {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-transform: translate3d(0, 0, 0);
    background-color: #f5f5f5;
    background-color: rgba(0,0,0,0.75);
}

.modal-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.modal-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;

    @include media-query($on-tablet) {
        padding: 50px;
    }
}

.modal-content {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
}

.panel-header:first-child, .panel-body:first-child, ul.panel-body>li:first-child, ol.panel-body>li:first-child, .panel-footer:first-child {
    border-top: 0;
}

.show-sm {
    display: none !important;
}


@media (max-width: 767px) {
  .modal-table, .modal-cell {
      display: block;
  }
}

@media (max-width: 767px) {
  .modal-content {
      max-width: none;
      height: 100%;
      border-radius: 0;
      overflow: auto;
  }
}

@media (max-width: 767px) {
  .show-sm {
      display: block !important;
  }
}

@media (max-width: 767px) {
  .modal-header {
      text-align: center;
  }
}

@media (max-width: 767px) {
  .panel-header {
      font-size: 15px;
  }
}

.panel-dark, .panel-header {
    background-color: #edefed;
}

.panel-header {
    color: #565a5c;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
}

.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}

.modal-content.signup .panel-padding.panel-body {
    border-top: none;
}

.panel-header+.panel-body, .panel-body+.panel-body, ul.panel-body>li+.panel-body, ol.panel-body>li+.panel-body, .panel-footer+.panel-body {
    border-top: none;
}

.panel-body {
    position: relative;
}

.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}


// Naughty - move to its own file you moron
.service-select {
  &__item {
    width: 100%;
    font-size: 1.2rem;
    border-top: 1px solid #aaa;
    padding: 1.2rem;
    opacity: 0.9;
    display: block;

    &:last-child {
      border-bottom: 1px solid #aaa;
      border-radius: 0 0 3px 3px;
    }

    &--selected {
      opacity: 1;
    }
  }
}
