.masthead {
  background: #ededed url("//nzs.imgix.net/hero/queenstown.jpg?w=1024") center 70% no-repeat;
  background-size: cover;
  text-align: center;
}

.hero {
  position: relative;
  padding: 3rem 1.5rem 2rem;
  color: #fff;
  text-shadow: 0 1px 3px rgba(20,20,20, 0.8);

  @include media-query($on-tablet) {
    padding-bottom: 3rem;
  }

  @include media-query($on-laptop) {
    padding: 5rem 1rem 7rem 1rem;
  }

  &__content {
    max-width: $content-width;
    margin: 0 auto;

    @include media-query($on-tablet) {
      padding: 0 1rem;
    }
  }

  &__icon {
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__subtitle {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__lead {
    font-size: 1.25rem;
    color: #eee;
    margin-bottom: 2rem;

    @include media-query($on-tablet) {
      margin-bottom: 1rem;
    }
  }
}

// Email capture bar
.capture {
  &--standalone {
    background: #111;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
  }

  &__content {
    max-width: $content-width;
    margin: 0 auto;
  }

  &__input {
    font-size: 1.3rem;
    display: block;
    margin: 0 auto;
    border: 0;
    padding: 0.8rem;
    vertical-align: top;
    text-align: center;
    width: 100%;
    border-radius: 2px;
    text-transform: lowercase;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);

    @include media-query($on-tablet) {
      margin: 0;
      width: auto;
      display: inline-block;
      text-align: left;
    }
  }

  .btn {
    display: block;
    margin-top: 0.5rem;
    text-align: center;
    vertical-align: top;
    font-size: 1.3rem;
    text-transform: lowercase;
    width: 100%;
    padding: 0 1rem;
    line-height: 50px;
    background: #E74C3C;

    @include media-query($on-tablet) {
      display: inline-block;
      margin-top: 0;
      width: auto;
    }
  }

  &__disclaimer {
    font-size: 12px;
    color: #eee;
    text-shadow: 1px 1px 1px #111;
    margin-top: 0.5rem;
  }
}

.row {
  clear: both;
}

.section {
  overflow: auto;
  padding: 1.5rem 1rem;
  width: 100%;
  text-align: center;

  @include media-query($on-tablet) {
    width: 50%;
    float: left;
    text-align: left;
  }

  &__title {
    color: #3498DB;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__text {
      color: $grey-color;
      max-width: 400px;
  }
}
