.masthead {
  background: #ededed url("/images/hero/akaroa.jpg") center no-repeat;
  background-size: cover;
}

.hero {
  position: relative;
  padding: 3rem 1rem;
  color: #fff;
  text-shadow: 0 1px 3px rgba(20,20,20, 0.8);

  &__content {
    max-width: $content-width;
    margin: 0 auto;
  }

  &__icon {
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__subtitle {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__lead {
    font-size: 1.25rem;
    color: #eee;
  }
}

// Email capture bar
.capture {
  background: #111;
  border-bottom: 1px solid #ddd;
  padding: 1rem;

  &__content {
    max-width: $content-width;
    margin: 0 auto;
  }

  &__input {
    font-size: 1.3rem;
    display: block;
    margin: 0 auto;
    border: 0;
    padding: 0.8rem;
    vertical-align: top;
    text-align: center;
    width: 100%;
    border-radius: 2px;
    text-transform: lowercase;
    height: 50px;

    @include media-query($on-tablet) {
      margin: 0;
      width: auto;
      display: inline-block;
    }
  }

  .btn {
    display: block;
    margin-top: 0.5rem;
    text-align: center;
    vertical-align: top;
    font-size: 1.3rem;
    text-transform: lowercase;
    width: 100%;
    padding: 0;
    line-height: 50px;

    @include media-query($on-tablet) {
      display: inline-block;
      margin-top: 0;
    }
  }
}

.section {
  overflow: auto;
  padding: 1rem;
  width: 100%;

  &__text {
      color: $grey-color;
  }

  @include media-query($on-tablet) {
    width: 33.3333333%;
    float: left;
  }
}
